#home {
    position: relative;
    #header {
        height: 1.5rem;
        line-height: 1.5rem;
        h1 {
            text-align: center;
            background: #6666FF;
            color: #fff;
        }
    }
}
